:root {
  --main: ;
  --pop: ;
  --font: #222831;
}

body {
  background: var(--main);
  font-family: "Readex Pro", sans-serif;
  color: var(--font);
}

header {
  margin: 0 auto;
  max-width: 900px;
}

form {
  display: block;
  font-size: 65px;
}

a:link {
  text-decoration: none;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}

.weather-app {
  border: 3px solid var(--pop);
  border-radius: 10px;
  padding: 10px;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.search-bar {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 1rem;
}

.search-button {
  font-size: 55px;
  color: var(--pop);
  transition: all 175ms ease-in-out;
}

.search-button:hover {
  font-size: 65px;
  color: var(--pop);
}

.day-time {
  margin-left: 1rem;
  margin-bottom: 0;
  font-size: 18px;
}
.date {
  margin-left: 1rem;
  font-size: 30px;
  font-weight: 500;
}

.currently-in {
  margin-bottom: 0;
}

.city-name {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 50px;
}

.current-location-btn {
  font-size: 12px;
  padding: 2px 8px;
  background-color: var(--pop);
  border: 2px solid var(--pop);
}

.current-location-btn:hover {
  background-color: var(--main);
  border: 2px solid var(--pop);
}

.weather-data {
  margin-left: 1rem;
  font-size: 16px;
  list-style: none;
  line-height: 2rem;
}

.data-value {
  font-weight: bold;
  font-size: 18px;
}

.temperature {
  font-size: 60px;
  font-weight: bold;
}

.unit {
  font-size: 26px;
  font-weight: normal;
}

.unit .active {
  color: var(--font);
  cursor: default;
  font-weight: bold;
}

.skyIcon {
  color: var(--pop);
  font-size: 60px;
  margin-right: 50px;
}

.weather-forecast {
  margin-top: 1rem;
  padding-top: 10px;
  border-top: 2px solid var(--pop);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.forecast-temp-min {
  font-weight: lighter;
}
