:root {
  --main: ;
  --pop: ;

  --fs-xxsmall: 0.7rem;
  --fs-xsmall: 0.9rem;
  --fs-small: 1rem;
  --fs-medium: 1.1rem;
  --fs-large: 1.8rem;
  --fs-xlarge: 2rem;
}

@media (min-width: 750px) {
  :root {
    --fs-xxsmall: 0.7rem;
    --fs-xsmall: 1rem;
    --fs-small: 1.1rem;
    --fs-medium: 1.6rem;
    --fs-large: 3.1rem;
    --fs-xlarge: 4rem;
  }
}

body {
  background: var(--main);
  color: #222831;
  font-family: "Readex Pro", sans-serif;
}

form {
  display: block;
  font-size: var(--fs-xlarge);
  margin: 0 auto;
  max-width: 750px;
}

a:link {
  text-decoration: none;
}

footer {
  padding-bottom: 1rem;
  text-align: center;
}

.weather-app {
  border: 3px solid var(--pop);
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 750px;
  padding: 10px;
}

.search-bar {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 1rem;
}

.search-button {
  font-size: var(--fs-xlarge);
  color: var(--pop);
  transition: all 175ms ease-in-out;
}

.search-button:hover {
  color: #757575;
}

.day-time {
  font-size: var(--fs-xsmall);
  margin-bottom: 0;
  margin-left: 1rem;
}
.date {
  font-size: var(--fs-medium);
  font-weight: 500;
  margin-left: 1rem;
}

.currently-in {
  margin-bottom: 0;
}

.city-name {
  font-size: var(--fs-large);
  margin-bottom: 0;
  text-transform: uppercase;
}

.current-location-btn {
  background-color: var(--pop);
  border: 2px solid var(--pop);
  font-size: var(--fs-xxsmall);
  font-weight: 600;
  padding: 2px 8px;
}

.current-location-btn:hover {
  background-color: var(--main);
  border: 2px solid var(--pop);
}

.weather-data {
  font-size: var(--fs-xsmall);
  line-height: 2rem;
  list-style: none;
  margin-left: 1rem;
}

.data-value {
  font-size: var(--fs-small);
  font-weight: bold;
}

.temperature {
  font-size: var(--fs-xlarge);
  font-weight: bold;
}

.unit {
  font-size: var(--fs-medium);
  font-weight: normal;
  position: relative;
  right: 5px;
}

.skyIcon {
  color: var(--pop);
}

.weather-forecast {
  border-top: 2px solid var(--pop);
  font-size: var(--fs-small);
  font-weight: bold;
  margin-top: 1rem;
  padding-top: 10px;
  text-align: center;
}

.forecast-temp-min {
  font-weight: lighter;
}
